<mat-toolbar color="primary">
    <mat-toolbar-row>
         <a mat-button class="toolbar-button" routerLink="" >Головна</a>
         <a mat-button class="toolbar-button" routerLink="/project" >Проекти</a>  
         <a mat-button class="toolbar-button" routerLink="" >Новини</a> 
         <a mat-button class="toolbar-button" routerLink="" >Контакти</a>        
         <span class="fill-space"></span>      
         <a mat-button class="toolbar-button" routerLink="" >Реєстрація</a>
         <a mat-button class="toolbar-button" routerLink="" >Вхід</a>     
    </mat-toolbar-row >                
  </mat-toolbar>