<div class="container mb-5">
  <div *ngFor="let user of users" class="mt-5">
    <mat-card class="home-card mat-elevation-z5">
      <mat-card-content class="home-card-content" fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayoutGap="10px" >
        <div class="image-container">
          <img *ngIf="user.imageURl != null"
            style="width: 200px"
            src="{{ user.imageURl }}"
            alt=""
          />
          <img *ngIf="user.imageURl == null"
               style="width: 200px"
               src="/assets/img/avatar-placeholder.gif"
               alt=""
          />
        </div>

        <div class="main-container" fxLayout="column" fxLayout.md="column" fxLayout.sm="column" >
          <div class="content-container" fxLayout="row" fxLayout.md="column" fxLayout.sm="column" >
            <div class="text-conteiner" fxLayout="column">
              <mat-card-title>
                <a class="details" [routerLink]="['/users', user.id]">{{ user.firstName }} {{ user.lastName }}</a>
              </mat-card-title>
              <div class="project-description">
                <p *ngIf="user.shortInformation != null">{{'common.short_information'|translate}}: {{ user.shortInformation.substring(0, 400) }}</p>
                <p *ngIf="user.city != null">{{'common.city'|translate}}: {{ user.city.substring(0, 400) }}</p>
                <p *ngIf="user.birthdayDate != null"> {{'common.birthdayDate'|translate}}: {{ user.birthdayDate | date: 'shortDate' }}</p>
                <p *ngIf="user.phoneNumber!=null">{{'common.phone_number'|translate}}: {{user.phoneNumber}}</p>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer fxLayout="row" fxLayoutAlign="end" class="m-1">
        <button mat-raised-button color="primary" (click)="openChangeRoleModal(user.id)">{{'common.change_role'|translate}}</button>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
