
.example-card {
    max-width: 65%;
    margin: 0 auto;
    background-color:  gray;
    margin-top: 5vw;
}
  
  .example-header-image {
    margin-top: 1vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
    background-image: url('../../assets/img/trashcat.jpg');
    background-size: cover;

}
  
.ProjImg{
    display: block;
}

.headerUpText{
    font-size: 3vw !important;
    margin-top: 0.5vw !important;    
    margin-left: 0.5vw !important;
}

.headerDownText{
    font-size: 1vw;
    margin-left: 0.5vw;
    margin-bottom: 1vw;
}

.description{
    font-size: 1.5vw;
    text-align: center;
    margin: 1vw;
}

.footerTable {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.resTab{    
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.mat-tab-label{
    color: black;
    font-size: 1vw !important;
}
.mat-card-avatar{
    width: 5vw !important;
    height: 5vw !important;
}
.tabHeadText{
    font-size: 2vw;
    text-align: center;
}

.ownerLink{
    text-decoration: none !important;
}
.description{
    text-align: justify;
    text-indent: 1.4vw;
}

.mat-tab-group{
    font-size: 1vw;
}

/* Structure */
.example-container {
    position: relative;
    min-height: 200px;
  }
  
  .example-table-container {
    position: relative;
    max-height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }


  //////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////////
  /* Structure */
.example-container {
  position: relative;
  min-height: 200px;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

// .mainDiv *, .mainDiv{
//     border-width:1px;
//     border-color: red;
//     border-style: solid;
// }