.example-card {
  max-width: 1200px;
  margin: 0 auto;
  background-color: gray;
  margin-top: 4rem;
}

.example-header-image {
  background-image: url("../../assets/img/trashcat.jpg");
  background-size: cover;
}

.ProjImg {
  display: block;
}

.description {
  text-align: center;
}

.footerTable {
  position: relative;
  display: block;
  max-width: 1230px;
  max-height: 1000px;
  margin: 0 auto;
}

.resTab {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.mat-tab-label {
  color: black;
  min-width: 0px !important;
}
.mat-card-avatar {
  width: 4rem !important;
  height: 4rem !important;
  margin-bottom: 1rem;
}
.tabHeadText {
  text-align: center;
}

.ownerLink {
  text-decoration: none !important;
}
.description {
  text-align: justify;
  font-size: 1.5rem;
}

/* Structure */
.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  overflow: auto;
}

table {
  width: 100%;
}

.example-rate-limit-reached {
  color: #980000;
  text-align: center;
}

ol,
li {
  padding-left: 1.4rem;
}
li {
  height: 0px;
  position: absolute;
  padding-top: 3px;
}

.resName,
.resDate,
.resImg {
  width: 25%;
  margin-top: -0.2rem;
}

.mat-tab-label-content {
  font-size: 1.5rem;
}
.mat-card-title {
  font-size: 1.5rem !important;
  font-weight: 900 !important;
  margin-top: 0.5rem;
}
.mat-card-subtitle {
  font-size: 1rem !important;
}

.mainDiv *, .mainDiv{
    border-width:1px;
    border-color: red;
    border-style: solid;
}
