<div class="f">
    <form>
        <a mat-raised-button color="primary" style="margin-bottom: 1px;" routerLink="/admin/fee/create"
            class="btn btn-default">
            {{'manager.add'|translate}}
        </a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td><b>{{'manager.date'|translate}}</b></td>
                    <td><b>{{'manager.fee-amount'|translate}}</b></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let f of memberFees">
                    <td>{{f.feeDate | date: 'MM/yyyy'}}</td>
                    <td>{{f.feeAmount}}</td>
                </tr>
                <button class="m" mat-raised-button ><mat-icon color="warn" 
                    (click)="delete(memberFees[memberFees.length-1])">delete</mat-icon></button>
            </tbody>
        </table>
    </form>
</div>