.mat-stroked-button{
    background-color: rgb(86, 236, 56);
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
}

.project-card {
     max-width: 90%;
     margin: 20px;
}

.project-image{
      height: 170px;
      width: 30%;
      float: left;
      margin: 10px 10px 10px 0;
}

.get-details-button{
      text-align: right;
}

