<div *ngFor="let p of projects">
    <mat-card class="project-card">
        <mat-card-header>
          <mat-card-title>Project name {{p.name}}</mat-card-title>
          <mat-card-subtitle>Id - {{p.id}}</mat-card-subtitle>
        </mat-card-header>
        <div>
        <img class="project-image" mat-card-image 
        src="http://r.ddmcdn.com/s_f/o_1/cx_462/cy_245/cw_1349/ch_1349/w_720/APL/uploads/2015/06/caturday-shutterstock_149320799.jpg" 
        alt="">
            <p class="project-info">
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
        </div>
        <mat-card-content>
          <p class="project-info">
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions class="get-details-button">
            <a  mat-stroked-button  [routerLink]="['/project', p.id]" >Деталі</a>
            <!-- <a  mat-stroked-button  [routerLink]="['project/resources', p.id]" >Ресурси</a> -->
        </mat-card-actions>
      </mat-card>
</div>
    