<mat-card>
  <mat-card-title>{{'components.account.password-forgot.title'|translate}}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="forgotPasswordForm" autocomplete="off">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>{{'components.account.email'|translate}}</mat-label>
          <input formControlName="Email" matInput type="text">

          <mat-error *ngIf="forgotPasswordForm.get('Email').errors?.required">
            {{'components.account.error-input-required'|translate}} </mat-error>
          <mat-error
            *ngIf="forgotPasswordForm.get('Email').errors?.minlength || forgotPasswordForm.get('Email').errors?.maxlength">
            {{'components.account.error-input-Email-length'|translate}}</mat-error>
        </mat-form-field>
      </p>

      <div class="button">
        <button mat-raised-button color="primary" type="submit"
                (click)="onSubmit()">{{'common.confirm'|translate}}</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
