@import '@angular/material/prebuilt-themes/purple-green.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// body *{
//     border-width:1px;
//     border-color: red;
//     border-style: solid;
//   }

.form { 
    .mat-dialog-container {
     background-color: rgb(126, 126, 126);
     color: rgb(255, 255, 255);
     }
    .mat-input-element{
     color: rgb(255, 255, 255);
    }
    .mat-form-field {display: inline;}
    .mat-dialog-title{text-align:center}
}
