<h1 mat-dialog-title>{{'common.change_role'|translate}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>{{'common.roles_list'|translate}}</mat-label>
    <mat-select [(ngModel)]="selectedValue">
      <mat-option *ngFor="let role of data.rolesList" [value]="role.id">
        {{role.name}} <span *ngIf="data.userRoleId == role.id"><mat-icon>check</mat-icon></span>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{'common.no_thanks'|translate}}</button>
  <button mat-button [mat-dialog-close]="selectedValue" cdkFocusInitial>{{'common.ok'|translate}}</button>
</div>
