<mat-sidenav-container>
    <mat-sidenav class="sidebar" [opened]="true" disableClose="true" #sidenav mode="side" opened
        [attr.color]="themeColor">
        <mat-nav-list>
            <a class="menu-item" mat-list-item [routerLink]="['/admin', 'sitemap']"><span>Pages creator</span></a>
            <a class="menu-item" mat-list-item><span>Settings</span> </a>

            <a class="menu-item" mat-list-item [routerLink]="'/'"><span>Close</span></a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height:100vh;">
            <ng-content></ng-content>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>