.menu-item {
    border-radius: 0;
    height: 75%;
    margin-bottom: 10px;
  }
  
.menu-item:hover {
    border-bottom: 3px solid;
    border-color: white;
}
span{
    color: white;
    font-size: 24px;
}
.sidebar{
    background-color:#4a1e5f;
}
.space{
    padding-left:12px;
}
.pad{
    margin-top: 15px;
    height: 86px;
}
h2{
    color: white;
}
.white-icon {
    color: white;
}


