.menu-item {
    border-radius: 0;
    height: 75%;
    margin-bottom: 10px;
  }

.menu-item:hover {
    border-bottom: 3px solid;
    border-color: black;
}
span{
    color: black;
    font-size: 24px;
}
.sidebar{
    background-color: white;
}
.space{
    padding-left:12px;
}
.pad{
    margin-top: 15px;
    height: 86px;
}
h2{
    color: white;
}
.white-icon {
    color: white;
}
.title {
  color: black;
}
a.mat-list-item.active {
  background-color: #9852B9 }

