<div class="f">
    <div>
        <label class="center"><b>{{'manager.date'| translate}}</b></label>
    </div>
    <mat-form-field>
        <input matInput [matDatepicker]="dp" [min]="minDate" [formControl]="date" (keydown)="$event.preventDefault();"
            placeholder="" (click)="dp.open()">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
            (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
        </mat-datepicker>
    </mat-form-field>
    <div class="form-group">
        <label><b>{{'manager.fee-amount'| translate}}</b></label>
        <input type="number" min="1" onkeypress="return event.charCode >= 48" required [(ngModel)]="memberFee.feeAmount"
            class="form-control" />
    </div>
    <div>
        <a routerLink="/admin/fee/get">
            <button mat-raised-button color="primary" (click)="save()">{{'manager.save'| translate}}</button>
        </a>
        <button class="marg" mat-raised-button color="warn" (click)="cancel()">
            {{'manager.cancel'| translate}}
        </button>
    </div>
</div>