# These owners will be the default owners for everything in the repo.
*       @yrikturash

.gitignore @dgzargo
/TheraLang.DLL/* @dgzargo
/TheraLang.Web/* @dgzargo
/TheraLang.DataSeeding/* @dgzargo
/core/* @dgzargo
/data/* @dgzargo
/Angular/* @dgzargo

.gitignore @AlexBoichuk
/TheraLang.DLL/* @AlexBoichuk
/TheraLang.Web/* @AlexBoichuk
/TheraLang.DataSeeding/* @AlexBoichuk
/core/* @AlexBoichuk
/data/* @AlexBoichuk
/Angular/* @AlexBoichuk

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com
