<mat-tab-group animationDuration="0ms" #tabPosition (selectedTabChange)="changeTab(tabPosition.selectedIndex)">
        <mat-tab label="Нові"></mat-tab>
        <mat-tab label="Підтверджені"></mat-tab>
        <mat-tab label="Відхилені"> </mat-tab>
</mat-tab-group>
<div *ngIf="projectParticipationRequest.filteredData.length > 0">
        <div class="mat-elevation-z8">
                <table mat-table [dataSource]="projectParticipationRequest">

                        <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Ім’я</th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="userId">
                                <th mat-header-cell *matHeaderCellDef> Id користувача </th>
                                <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
                        </ng-container>

                        <ng-container matColumnDef="projectId">
                                <th mat-header-cell *matHeaderCellDef> Id проекту </th>
                                <td mat-cell *matCellDef="let element"> {{element.projectId}} </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef> Статус </th>
                                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                <mat-cell *matCellDef="let participationRequest">
                                        <div *ngIf="showActionButtons">
                                                <span class="aproveButton">
                                                        <button mat-raised-button
                                                                (click)="changeStatus(1, participationRequest)">Прийняти</button>
                                                </span>
                                                <span class="rejectButton">
                                                        <button mat-raised-button
                                                                (click)="changeStatus(2, participationRequest)">Відхилити</button>
                                                </span>
                                        </div>
                                </mat-cell>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
</div>
<div *ngIf="projectParticipationRequest.filteredData.length === 0">
        <h1>Немає нових запитів</h1>
</div>
