
// ::ng-deep .cont {
//     color:rgb(11, 184, 34);
// }


  ::ng-deep .mat-tab-body-content{
    font-size: 3rem;
    margin-left: 10px;
  }


  ::ng-deep .mat-tab-label-content{
    font-size: 1rem;
    color:black;
  }

// .mat-button{
//   margin-left: 20px;
//   margin-bottom: 15px;;
//   background-color: rgb(222, 228, 228);
// }

.but .mat-raised-button{
background-color: rgb(7, 161, 41);
margin-right: 15px;
margin-left: 15px;
}
.but2 .mat-raised-button{
  background-color: rgb(224, 9, 9)
  }

  .mat-button:hover{
    background-color: rgb(233, 230, 230);
  }
//   ::ng-deep .mat-tab-label {
//     color: #f30606;
// }
table {
  width: 100%;
}