<h2 mat-dialog-title>
    <p>Створити ресурс</p>
</h2>

<form [formGroup]="this.service.resourceForm">
    <mat-dialog-content style="height: 380px">
        <mat-form-field>
            <input formControlName="name" autofocus required matInput placeholder="Назва ресурсу" >
        </mat-form-field>
        
        <mat-form-field>
            <input formControlName="description" required matInput placeholder="Опис" >
        </mat-form-field>

        <mat-form-field>
            <input formControlName="url" matInput placeholder="Посилання" >
        </mat-form-field>

        <mat-form-field>
            <input formControlName="file" matInput placeholder="Файл" >
        </mat-form-field>

        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
    (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          Optional custom content that replaces the the entire default content.
          <button type="button" (click)="openFileSelector()">Browse Files</button>
        </ng-template>
    </ngx-file-drop>

        <mat-form-field>
            <mat-select  formControlName="categoryId" required placeholder="Тип ресурсу">
              <mat-option *ngFor="let category of categories" formControlName="categoryId" [value]="category.id">
                {{category.type}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-dialog-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="this.service.resourceForm.invalid" (click)='onSubmit()'>
                Підтвердити
            </button>
            <button mat-raised-button color="warn" type="reset" (click)="onClose()">
                Відмінити
            </button>
        </mat-dialog-actions>
    </mat-dialog-content>
</form>
