<h2 mat-dialog-title>
    <p>Створити ресурс</p>
</h2>

<form [formGroup]="this.service.resourceForm">
    <mat-dialog-content style="height: 450px">

        <mat-form-field>
            <mat-select  formControlName="categoryId" required placeholder="Тип ресурсу">
              <mat-option *ngFor="let category of categories" formControlName="categoryId" [value]="category.id">
                {{category.type}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field>
            <input formControlName="name" autofocus required matInput placeholder="Назва ресурсу" >
        </mat-form-field>
        
        <mat-form-field>
            <input formControlName="description" required matInput placeholder="Опис" >
        </mat-form-field>

        <mat-form-field>
            <input formControlName="url" matInput placeholder="Посилання" >
        </mat-form-field>

        <mat-form-field>
            <input formControlName="fileName" matInput placeholder="Назва файлу" >
        </mat-form-field>

        <mat-dialog-actions>
            <input mat-raised-button color="primary" type="file" formControlName="file" placeholder="Додати ресурс">
        </mat-dialog-actions>

        <mat-dialog-actions class = "submitButton">
            <button mat-raised-button color="primary" type="submit" [disabled]="this.service.resourceForm.invalid" (click)='onSubmit()'>
                Підтвердити
            </button>
            <button mat-raised-button color="warn" type="reset" (click)="onClose()">
                Відмінити
            </button>
        </mat-dialog-actions>
    </mat-dialog-content>
</form>
