<button mat-flat-button color="primary" (click)="addResource()">
    <mat-icon>add</mat-icon>{{'components.resources.create'|translate}}
</button>

<mat-tab-group mat-stretch-tabs class="resTab example-stretched-tabs mat-elevation-z4" *ngIf="showCategories">
    <mat-tab  *ngFor="let category of this.resourcesCategories" label="{{category.type}}">
        <app-general-resources-inner-table [resourcesCategoryId]="category.id">
        </app-general-resources-inner-table>
    </mat-tab>
</mat-tab-group>
