<form >
  <div class="filterDiv">
    <mat-checkbox *ngIf="this.isAuthenticated()" (change)="onClick()" class="myProjectsCheck" labelPosition="before" name="myProjects"
      [(ngModel)]="myProjects"> {{ "components.filters.my-projects" | translate }}</mat-checkbox>
    <mat-form-field class="selectFilter">
      <mat-label>{{ "components.filters.filters" | translate }}</mat-label>
      <mat-select name="selected filter" (selectionChange)="onClick()" [(ngModel)]="sort">
        <mat-option value="sortByDateAsc">
          {{ "components.filters.sort-by-date-asc" | translate }}
        </mat-option>
        <mat-option value="sortByDateDesc">
          {{ "components.filters.sort-by-date-desc" | translate }}
        </mat-option>
        <mat-option value="sortByDaysLeft">
          {{ "components.filters.sort-by-days-left" | translate }}
        </mat-option>
        <mat-option >
          {{ "components.filters.none" | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field  floatLabel="never" color="primary">
      <input class="toolbar-search" type="text" matInput name="searchInput" [(ngModel)]="search" (keyup.enter)="onClick()"
        placeholder="{{ 'components.filters.search' | translate }}">
      <mat-icon (click)="onClick()" matSuffix style="font-size: 1.2em">search</mat-icon>
    </mat-form-field>
  </div>
</form>