<mat-card class="mat-elevation-z2">
  <div class="row">
    <div class="left">
      <div class="link"><a [href]="resource.url" mat-fab>
        <mat-icon>cloud_download</mat-icon>
      </a>
      </div>
      <div class="text">
        <div class="title" *ngIf="authService.isAdmin(); else pTitle">
          <a routerLink="/resources/edit/{{resource.id}}">{{resource.name}}</a>
        </div>
        <ng-template #pTitle><p class="title">{{resource.name}}</p></ng-template>
        <p class="description">{{resource.description}}</p>
      </div>
    </div>
    <div class="right">
      <div class="details">
        <p class="date">{{resource.createdDateUtc | date }}</p>
        <p class="author">{{resource.authorName}}</p>
      </div>
      <div class="admin-controls" *ngIf="authService.isAdmin()">
        <button mat-mini-fab color="warn" (click)="resourceDeleted.emit(resource.id)">
          <mat-icon class="delete">delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>



