.QuoteBlock {
    color: #999;
    border: 1px solid #ddd;
    border-radius: .25rem;
    padding: 1rem;
    padding-top: 1.5rem;
    font-size: 1.1rem;
    box-shadow: 0 4px 0 #f2f2f4;
    max-width: 80%; 
    margin: 0 auto; 
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 300;
    font-family: "Open Sans",sans-serif;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.TextBlock {    
    max-width: 80%; 
    margin: 0 auto; 
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Open Sans",sans-serif;
    // box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.column-block .TextBlock {
    padding: 1rem;
    // border-radius: 25px ;
}
.column-block div {
    display: inline;
    text-align: left;
    width: 100%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 1.5rem;
    // box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.column-block {
    max-width: 80%;
    min-height: 3vh;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 1rem;
    border-radius: 25px ;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.ImageBlock img {
    max-width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 25px ;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.TextBlockDiv .TextBlock {
    min-height: 100px;
    padding: 1rem;
}

.VideoBlock, .AudioBlock {
    margin: 0 auto; 
    width: 80%;
    margin-top: 1.5rem;
}

.VideoBlock video {
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

div .ImageBlock {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.AudioBlock audio {
    width: 100%;
}

.SeparatorBlock hr {
    border-top: 1px solid rgba(0,0,0,.1);
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-top-color: #eee;
    max-width: 80%;
}

.SeparatorBlock {
    margin: 0 auto; 
    width: 80%;
}