
<div class="row" *ngIf="model.type=='Piranha.Extend.Blocks.ImageBlock' ">
  <div class="ImageBlock">
    <img *ngIf="model.body.hasValue" src="{{this.cutLink()}}">   
  </div>
</div>

<div class="row" id="quoteBlock" *ngIf="model.type=='Piranha.Extend.Blocks.QuoteBlock' ">
  <div class="QuoteBlock">
    <blockquote [innerHTML]="model.body.value">
    </blockquote>
  </div>
</div>

<div class="row" *ngIf="model.type=='Piranha.Extend.Blocks.HtmlBlock' ">
  <div class="HtmlBlock" [innerHTML]="model.body.value"></div>
</div>

<div class="column-block" id="col-block" *ngIf="model.type=='Piranha.Extend.Blocks.ColumnBlock'">
  <app-block *ngFor="let block of model.items" [model]="block"></app-block>
</div>

<div class="TextBlockDiv" *ngIf="model.type=='Piranha.Extend.Blocks.TextBlock' ">
  <div class="TextBlock" [innerHTML]="model.body.value"></div>
</div>

<div class="AudioBlock" *ngIf="model.type=='Piranha.Extend.Blocks.AudioBlock' ">
  <audio controls>
    <source *ngIf="model.body.hasValue" src="{{this.cutLink()}}" type>
  </audio>
</div>

<div class="VideoBlock" *ngIf="model.type=='Piranha.Extend.Blocks.VideoBlock' ">
  <video controls>
    <source *ngIf="model.body.hasValue" src="{{this.cutLink()}}">
  </video>
</div>

<div class="SeparatorBlock" *ngIf="model.type=='Piranha.Extend.Blocks.SeparatorBlock' ">
  <hr>
</div>

<div class="GalleryBlock" *ngIf="model.type=='Piranha.Extend.Blocks.ImageGalleryBlock' ">
  <app-gallery-block  [block]="model"></app-gallery-block>
</div>