<mat-grid-list [cols]="isMobile ? 1 : 3" rowHeight="500px" (window:resize)="onResize($event)">
  <mat-grid-tile
    *ngFor="let user of usersList.userList"
    [colspan]="1"
    [rowspan]="1">
    <mat-card class="container user" >
      <mat-card-content class="container">
        <div class="main-container" fxLayout="column" fxLayout.md="column" fxLayout.sm="row" >
          <div class="content-container" fxLayout="column" fxLayout.md="column" fxLayout.sm="column" >
            <div class="image-container" fxLayoutAlign="center" fxLayout="column" >
              <a [routerLink]="['/users', user.id]">
                <img *ngIf="user.imageURl != null"
                     class = "photo"
                     style="width: 200px"
                     src="{{ user.imageURl }}"
                     alt=""
                />
                <img *ngIf="user.imageURl == null"
                     class = "photo"
                     style="width: 200px"
                     src="/assets/img/avatar-placeholder.gif"
                     alt=""
                />
              </a>
            </div>
            <div class="text-conteiner info" fxLayout="column">
              <mat-card-title>
                  <span class="material-icons icon">
                  person_outline
                </span>
                <span> <a class="details info"
                          [routerLink]="['/users', user.id]">
                 {{ user.firstName }} {{ user.lastName }}</a>
                  <br>
                <span class = "role">{{user.roleName}}</span>
                 <br>
               </span>
              </mat-card-title>

              <div class="project-description info">
                <p *ngIf="user.city != null">
                  <span class="material-icons icon">
                  place
</span>
                  {{ user.city.substring(0, 400) }}
                </p>
                <p *ngIf="user.birthDay != null">
                  <span class="material-icons icon ">
                  calendar_today
                  </span> {{ user.birthDay | date: 'shortDate' }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
      <button mat-raised-button class = "button info" (click)="openChangeRoleModal(user.id)">{{'common.change_role'|translate}}</button>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
