<div class="comment-create mat-elevation-z3" fxLayout="row">
    <img *ngIf="this.comment.authorImageUrl else defaultImage" src="{{this.comment.authorImageUrl}}" class="user-image">
    <ng-template #defaultImage>
        <img src="/assets/img/avatar-placeholder.gif" class="user-image">
    </ng-template>

    <form [formGroup]="this.commentForm" fxFlex>
        <mat-dialog-content fxLayout="column">
            <mat-form-field floatLabel=never>
                <textarea formControlName="text" class="comment-input" matTextareaAutosize autofocus matInput
                    placeholder="{{'components.comments.enter-comment'|translate}}" [(ngModel)]="this.comment.text">
                </textarea>
                <mat-error *ngIf="this.commentForm.controls['text'].errors?.minlength">
                    {{'common.validation.line-too-short'|translate}}</mat-error>
                <mat-error *ngIf="this.commentForm.controls['text'].errors?.maxlength">
                    {{'common.validation.line-too-long'|translate}}</mat-error>
            </mat-form-field>
            <mat-dialog-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="this.commentForm.invalid"
                    (click)="onSubmit()" class="right-align">
                    {{'components.comments.create-comment'|translate}}
                </button>
            </mat-dialog-actions>
        </mat-dialog-content>
    </form>
</div>