.home{
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
}

.project-image{
  float: left;
  margin-right: 7px;
  width: 350px;
  height: 350px;
}

.join-button{
  width: 150px;
  height: 40px;
  margin-right: 5px;
}

.header-panel{
  margin-bottom: 5px;
}
.donate-button{
  width: 100px;
  height: 50px;
}

.donate{
  margin-right: 25px;
  float: right;
  height: 50px;
  width: 200px;
  font-size: 24px;
}

.donation-sum{
  font-size: 26px;
}

.rised-sum{
  color: #534E4E;
  font-size: 24px;
  margin-left: 5px;
}

.mat-progress-bar {
  height: 20px !important;
  width: 100% !important;
}

.text-content{
  display: flex;
  justify-content: center;
}   

.days-left-block{
  padding-left: 20px;
}

.days{
  font-size: 35px;
  color: #423D3D;
  height: 38px;
  
  text-align: center;
}

.ng-star-inserted{
  font-size: 16px;
  color: #534E4E;
}

::ng-deep .mat-progress-bar.mat-accent .mat-progress-bar-buffer {
  background-color: #c4c4c4;
}

.actions-conteiner{
  margin-top: 20px;
  margin-bottom: 30px;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid ;
  margin-left: 4px;
}
.separator::before{
  max-width: 4%;
  content: '';
  flex: 1;
  border-bottom: 1px solid ;
  margin-right: 4px;
}
.details-button:hover {
  color: #59b0a1;
}
.rotator{
  transform:rotate(181deg);
}

