<div [class.item]="!isRoot" class="entry">
  <mat-card class="page-row" *ngIf="!isRoot">
    <div class="page-info">
      <mat-icon class="handle drag-icon">more_vert</mat-icon>
      <mat-card-title class="title">{{ page.route }}</mat-card-title>
    </div>
    <div class="filler"></div>
    <div class="page-controls">
      <a routerLink="/admin/pages/edit/{{ page.id }}" mat-icon-button
        ><mat-icon>create</mat-icon></a
      >
      <a mat-icon-button color="warn"><mat-icon>delete</mat-icon></a>
    </div>
  </mat-card>
  <mat-card class="page-row" *ngIf="isRoot">
    <mat-card-title class="root">{{
      "common.mainpage" | translate
    }}</mat-card-title>
    <div class="filler"></div>
    <div class="page-controls">
      <a mat-stroked-button routerLink="/admin/pages/create">{{
        "manager.add-new-page" | translate
      }}</a>
    </div>
  </mat-card>

  <div
    *ngIf="page.subPages"
    class="item-child"
    [sortablejs]="page.subPages"
    [sortablejsOptions]="options"
  >
    <div *ngFor="let subpage of page.subPages">
      <app-page-entry [page]="subpage"></app-page-entry>
    </div>
  </div>
</div>
