footer{
    width: 100%;
    box-shadow: 0 -3px 2px 0 rgba(0, 0, 0, 0.2);
}

.footerMainBlock {
    text-align: center;
    color: gray;
}

.footerAboutBlock {
    color: #4A1E5F;
    padding: 0 10px;
}

.logo {
    height: 80px;
}