<div class="formContainer">
    <form [formGroup]="form" autocomplete="off" novalidate (ngSubmit)="submit()">
        <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <div class="item item-1">
                <mat-form-field>
                    <input matInput type="text" placeholder="Header" formControlName="header" id="header">
                    <mat-error *ngIf="hasError('header', 'required')">Title is required</mat-error>
                    <mat-error *ngIf="hasError('header', 'maxlength')">Title should be less than 60 characters
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="item item-2">
                <mat-form-field>
                    <input matInput type="text" placeholder="Menu name" formControlName="menuName" id="menuName">
                    <mat-error *ngIf="hasError('menuName', 'required')">Menu name is required</mat-error>
                    <mat-error *ngIf="hasError('menuName', 'maxlength')">Menu name should be less than
                        {{form.get('menuName').errors.maxlength.requiredLength}} characters</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="editorContainer">
            <quill-material formControlName="content"></quill-material>
            <mat-error *ngIf="hasError('content', 'required') && form.get('content').touched">Text is required
            </mat-error>
        </div>

        <div class="button-container">
            <button mat-raised-button type="submit" color="accent"
                [disabled]="form.invalid || !form.dirty">Update</button>
            <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
        </div>
    </form>
</div>