.home-card {
    padding: 30px 50px;
    margin: 40px;
    margin-left: 12%;
    margin-right: 12%;
}

.news-image {
    margin: 0;
    margin: 10px;
    margin-right: 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

.mat-card-title{
    font-size: 32px;
    margin-bottom: 4px;
   
}

.main-container {
    width: 100%;
    margin-top: 10px;
}

@media screen and (max-width: 1280px) {

    .image-container{
        padding-top: 5px;
        display: flex;
        justify-content: center;
    }
    img.project-image{
        margin: 0;
        width: 350px;
        height: 350px;
      }
 
    .actions-conteiner {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

  .news-description{
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    font-size: 20px;
    line-height: 28px;
    width: 100%;
    margin-bottom: 5px;
}

.main-container {
    width: 100%;
    margin-top: 10px;
}

.content-class{
    margin-bottom: 5%;
    margin-left: 5%;
}



.prewiew-image{
    width: 40%;
    margin : 0;
    padding: 30px 0;
}

.image-box{
    width: 100%;
    margin : 0 !important;
}

.text-container{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
}

.author-container{
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.text-content{
    font-size: 17px;
    line-height: 20px;
}

.slider {
    padding-top: 30px;;
    padding-bottom: 10px;
}

.space{
    padding-left:15px;
}

.comments {
    margin-top: 30px;
}