<h2 mat-dialog-title>Вхід</h2>
<form #form='ngForm' autocomplete="off" (submit)="onSubmit(form)">
    <mat-dialog-content>
      <mat-form-field>
        <input #UserName="ngModel" name="UserName" [(ngModel)]="formModel.UserName" required placeholder="Логін">
      </mat-form-field>
      <mat-form-field>
        <input #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" type="password" required placeholder="Пароль">
      </mat-form-field>
     </mat-dialog-content>
     <mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Підтвердити</button>
      <button mat-raised-button color="warn" type="reset" (click)="onClose()">Відмінити</button>
    </mat-dialog-actions>
 </form>
  
