<div class="container" scroll="no">
    <app-chat-list (onChatChange)="updateChat($event)"></app-chat-list>

    <div *ngIf="this.currentChat else loadingChat">
        <div class="chat">
            <div class="message-container" #chatScroller (scroll)="onScroll()">
                <div *ngFor="let message of this.messages">
                    <div class="message" [ngClass]="currentUserId == message.posterId ? 'message-owner' : 'message'">
                        <div class="message-info">
                            <a href="users/{{message.posterId}}">{{message.posterName}}</a>
                            {{message.timestamp | date: 'MMM d, H:mm'}}
                        </div>
                        <div class="message-text">{{message.text}}</div>
                    </div>
                </div>
            </div>

            <div class="form-container">
                <form [formGroup]="form" (ngSubmit)="sendMessage()" autocomplete="off" fxLayout="row">
                    <input formControlName="messageText" type="text" placeholder="Напишіть повідомлення...">

                    <button type="submit" [disabled]="form.invalid" id="send" mat-raised-button
                        color="primary">Send</button>
                </form>
            </div>
        </div>
    </div>
    <ng-template #loadingChat>
        <div class="choose-chat">Виберіть чат</div>
    </ng-template>
</div>