.user-image {
    height: 40px;
    width: 40px;
    object-fit : cover;
    border-radius: 50%;
    margin-right: 16px;
}

.header {
    margin-bottom: 12px;
}

.author-name {
    font-size: 16px;
    font-weight: 500;
}

.padding-right {
    padding-right: 20px;
}

.foreign-text {
    font-size: 12px;
    color: #A0A4A8;
}

.comment-text {
    font-size: 16px;
}

.change-comment-size {
    padding-left: 0px;
    font-weight: 500;
}

.change-comment-size:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
}

.reply {
    margin-left: 56px;
    margin-top: 20px;
}

.reply-button {
    text-decoration: underline;
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;
    border: none;
}

hr {
    border-top: 1px solid #BDBDBD;
}