<ng-container #container>
    <div *ngIf="!this.isEditing">
        <div fxLayout="row">
            <img *ngIf="this.comment.AuthorImageUrl else defaultImage" src="{{this.comment.AuthorImageUrl}}"
                class="user-image">
            <ng-template #defaultImage>
                <img src="/assets/img/avatar-placeholder.gif" class="user-image">
            </ng-template>
            <div fxLayout="column" fxFlex>
                <div fxLayout="row" fxLayoutAlign=" center">
                    <span class="author-name padding-right">{{this.comment.authorName}}</span>
                    <span
                        class="foreign-text padding-right">{{this.comment.createdDateUtc | date:'M.d.yyyy h:mm'}}</span>
                    <span *ngIf="this.comment.isEdited" class="foreign-text">(edited)</span>
                    <span fxFlex></span>
                    <span>
                        <button mat-icon-button (click)="onEdit()">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="onDelete()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </span>
                </div>
                <div>{{this.comment.text.substr(0, this.textSize)}}</div>
                <div *ngIf="!isFull()">
                    <a class="change-comment-size" (click)="showFullComment()">READ MORE...</a>
                </div>
                <div *ngIf="this.isOpened">
                    <a class="change-comment-size" (click)="showSmallComment()">SHOW LESS</a>
                </div>
            </div>
        </div>
    </div>
</ng-container>