<div>
    <ng-container #container>
        <div *ngIf="!this.isEditing">
            <div fxLayout="row">
                <img *ngIf="this.comment.authorImageUrl else defaultImage" src="{{this.comment.authorImageUrl}}"
                    class="user-image">
                <ng-template #defaultImage>
                    <img src="/assets/img/avatar-placeholder.gif" class="user-image">
                </ng-template>

                <div fxLayout="column" fxFlex>
                    <div fxLayout="row" fxLayoutAlign=" center" class="header">
                        <div fxLayout="column">
                            <span class="author-name padding-right">{{this.comment.authorName}}</span>
                            <div fxLayout="row">
                                <span
                                    class="foreign-text padding-right">{{this.comment.createdDateUtc | date:'MM.dd.yyyy HH:mm'}}</span>
                                <span *ngIf="this.comment.isEdited"
                                    class="foreign-text">({{'components.comments.edited'|translate}})</span>
                            </div>
                        </div>
                        <span fxFlex></span>
                        <span>
                            <button mat-icon-button *ngIf="isOwner()" (click)="onEdit()">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button *ngIf="isOwner() || isAdmin()" (click)="onDelete()">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </span>
                    </div>

                    <div class="comment-text">{{this.comment.text.substr(0, this.textSize)}}</div>

                    <div>
                        <div *ngIf="!isFull()">
                            <a class="change-comment-size"
                                (click)="showFullComment()">{{'components.comments.read-more'|translate}}...</a>
                        </div>
                        <div *ngIf="this.isOpened">
                            <a class="change-comment-size"
                                (click)="showSmallComment()">{{'components.comments.show-less'|translate}}</a>
                        </div>
                    </div>
                    <div *ngIf="this.currentUser" fxLayoutAlign="end start">
                        <button (click)="onReply()" class="reply-button color-primary">
                            <span *ngIf="!this.isReplying">{{'components.comments.reply'|translate}}</span>
                            <span *ngIf="this.isReplying">{{'components.comments.close-reply'|translate}}</span>
                        </button>
                    </div>
                    <div><hr></div>
                </div>
            </div>
            <div *ngIf="this.isReplying" class="reply">
                <app-comment-create [currentUser]="this.currentUser"
                    [answeredCommentId]="this.comment.answeredCommentId ? this.comment.answeredCommentId : this.comment.id"
                    (commentCreated)="this.commentChanged.emit()"></app-comment-create>
            </div>
            <div class="reply" *ngFor="let reply of this.comment.replies">
                <app-comment [comment]="reply"
                    [currentUser]="this.currentUser" (commentChanged)="this.commentChanged.emit()">
                </app-comment>
            </div>
        </div>
    </ng-container>
</div>