.chat-list {
    width: 20%;
    height: 480px;
    float: left;
    padding: 10px 5px 10px 10px;
    border-right: 1px solid #edf1f7;

    color: #000;
    font-size: 1rem;
    -webkit-box-shadow: 6px 2px 14px -8px rgba(0,0,0,0.22);
    -moz-box-shadow: 6px 2px 14px -8px rgba(0,0,0,0.22);
    box-shadow: 6px 2px 14px -8px rgba(0,0,0,0.22);
}

.chat-item {
    border-bottom: 1px solid #edf1f7;
    padding: 7px;
    cursor: pointer;
}

.chat-item:hover {
    background-color: #fbfdff;
}