<p>Додавання ресурсу до проекту!</p>

<button mat-raised-button (click)="onCreate()">Створити ресурс</button>

<mat-form-field class="example-full-width">
    <!-- <input matInput placeholder="find..." value="testTXT" (change)="doFilter()"> -->
    <input matInput placeholder="find..." value="testTXT" [(ngModel)]="searchTerm">
</mat-form-field>

<div *ngFor="let resource of filteredResources">
    <tr>
        <td>
            id: {{resource.id}}, name: {{resource.name}}
        </td>
        <td>
            <button mat-raised-button (click)="Add(resource.id)">Додати</button>
        </td>
    </tr>
</div>