<button mat-stroked-button (click)="onCreate()">
  <mat-icon>add</mat-icon>{{'components.projects.create'|translate}}
</button>

<div *ngFor="let project of projects">
  <mat-card class="project-card">
    <mat-card-header class="header">
      <mat-card-title>
        <a mat-button class="donate-button" [routerLink]="['/donations', project.id]">Підтримати</a>
        <div>Потрібно зібрати:
          <h3 class="donation-target">₴ {{project?.donationTargetSum | number : '1.2-2'}}</h3>
        </div>
        <div>Зібрано:
          <h5 class="donation-sum">₴ {{project?.donationsSum | number : '1.2-2'}}</h5>
        </div>
        <div>Залишилося зібрати:
          <h5 class="donation-left-to-collect">₴ {{project?.sumLeftToCollect | number : '1.2-2'}}</h5>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-title>{{project?.name}}</mat-card-title>
    <mat-card-subtitle>Ukraine, id - {{project?.id}}</mat-card-subtitle>
    <img class="project-image" mat-card-image
      src="http://r.ddmcdn.com/s_f/o_1/cx_462/cy_245/cw_1349/ch_1349/w_720/APL/uploads/2015/06/caturday-shutterstock_149320799.jpg"
      alt="">
    <mat-card-content>
      <div class="project-info">
        {{project?.description}}
        <p>{{'components.projects.project-starts'|translate}}: {{project?.projectStart | date: 'dd/MM/yyyy'}}</p>
        <p>{{'components.projects.project-ends'|translate}}: {{project?.projectEnd | date: 'dd/MM/yyyy'}}</p>
      </div>
    </mat-card-content>
    <div class="clear"></div>
    <mat-card-actions class="get-details-button">
      <a mat-stroked-button [routerLink]="['/projects', project.id]">{{'common:details'|translate}}</a>
      <button mat-stroked-button (click)="onEdit(project)">{{'common:edit'|translate}}</button>
      <button mat-stroked-button (click)="onDelete(project.id)">{{'common:delete'|translate}}</button>
    </mat-card-actions>
  </mat-card>
</div>
