<button mat-stroked-button (click)="onCreate()">
  <mat-icon>add</mat-icon>Створити проект
</button>
<div *ngFor="let project of projects">
  <mat-card class="project-card">
    <mat-card-header class="header">
      <mat-card-title>
        <a mat-button class="donate-button" [routerLink]="['/donation', project.id]">Підтримати</a>
        <div>Зібрано:
          <h3 class="donation-amount">{{project?.donationAmount | number : '1.2-2'}} грн</h3>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-title>{{project?.name}}</mat-card-title>
    <mat-card-subtitle>Ukraine, id - {{project?.id}}</mat-card-subtitle>
    <img class="project-image" mat-card-image
      src="http://r.ddmcdn.com/s_f/o_1/cx_462/cy_245/cw_1349/ch_1349/w_720/APL/uploads/2015/06/caturday-shutterstock_149320799.jpg"
      alt="">
    <mat-card-content>
      <div class="project-info">
        {{project?.description}}
        <p>Проект починається: {{project?.projectBegin | date: 'dd/MM/yyyy'}}</p>
        <p>Проект закінчується: {{project?.projectEnd | date: 'dd/MM/yyyy'}}</p>
      </div>
    </mat-card-content>
    <div class="clear"></div>
    <mat-card-actions class="get-details-button">
      <a mat-stroked-button [routerLink]="['/project', project.id]">Деталі</a>
      <button mat-stroked-button (click)="onEdit(project)">Змінити</button>
    </mat-card-actions>
  </mat-card>
</div>
