<!-- <mat-toolbar color="primary">
    <mat-toolbar-row  class="toolbar">
      <app-toolbar-item *ngFor="let toolbarItem of toolbarItems" [toolbarItem]="toolbarItem"></app-toolbar-item>
         <a mat-button class="toolbar-button" routerLink="/projects" >{{'components.projects.title'|translate}}</a>
         <a mat-button class="toolbar-button" routerLink="/donations" >{{'components.donation.title'|translate}}</a>
         <a mat-button class="toolbar-button" *ngIf="isAuthinticated" routerLink="/resources" >{{'components.resources.title'|translate}}</a>
         <a mat-button class="toolbar-button" *ngIf="isAuthinticated" routerLink="/participants" >{{'components.participation.title'|translate}}
         <span ><mat-icon *ngIf="hasNotification">notifications</mat-icon></span></a>
         <a mat-button class="toolbar-button" *ngIf="isAuthinticated" routerLink="/projectRequest">{{'components.projects.new-projects'|translate}}</a>
         <a mat-button class="toolbar-button" *ngIf="isAuthinticated" routerLink="/projectTypes" >{{'components.projectTypes.title'|translate}}</a>
         <span class="fill-space"></span>
         <button mat-button *ngIf="!isAuthinticated" class="toolbar-button" (click)="onLogin()">{{'components.account.signIn'|translate}}</button>
         <div *ngIf="isAuthinticated"><app-profile-menu></app-profile-menu></div>
         <app-language></app-language>
    </mat-toolbar-row >
  </mat-toolbar> -->

<div>
  <mat-toolbar>
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button class="companyLogo" routerLink="/">
        <img src="assets/img/uttmm.png" alt="Home" class="companyLogo">
      </a>

      <a mat-button class="menu-item" routerLink="/projects">{{'components.projects.title'|translate}}</a>
      <a mat-button class="menu-item" routerLink="/donations">{{'components.donation.title'|translate}}</a>
      <a mat-button class="menu-item" *ngIf="isAuthinticated"
        routerLink="/resources">{{'components.resources.title'|translate}}</a>
      <a mat-button class="menu-item" *ngIf="isAuthinticated"
        routerLink="/participants">{{'components.participation.title'|translate}}
        <span>
          <mat-icon *ngIf="hasNotification">notifications</mat-icon>
        </span></a>
      <a mat-button class="menu-item" *ngIf="isAuthinticated"
        routerLink="/projectRequest">{{'components.projects.new-projects'|translate}}</a>
      <a mat-button class="menu-item" *ngIf="isAuthinticated"
        routerLink="/projectTypes">{{'components.projectTypes.title'|translate}}</a>

      <span class="spacer"></span>
      
      <app-language></app-language>
      <button mat-flat-button color="primary" *ngIf="!isAuthinticated" class="toolbar-button"
        (click)="onLogin()">{{'components.account.signIn'|translate}}</button>
      <div *ngIf="isAuthinticated">
        <app-profile-menu></app-profile-menu>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="sidenav-container">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink="/about-us">About us</a>
        <a mat-button routerLink="/prices">Prices</a>
        <a mat-button routerLink="/start-page">Start page</a>
        <a mat-button routerLink="/offer">Offer</a>
        <a mat-button routerLink="/contact">Contact</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      Awesome content
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>