// .toolbar-button {
//   margin: 10px;
//   float : left;
// }

// .fill-space {
//   flex: 1 1 auto;
// }

// .mat-toolbar {
//   margin-bottom: 1rem;
// }

// .mat-toolbar.mat-primary {
//   background-color: purple;
// }

// a.mat-button .mat-icon {
//   vertical-align: top;
//   font-size     : 1.25em;
//   color         : red;
// }

// .active {
//   background:rgb(158, 7, 179);
// }

// .mat-button .mat-icon {
//   vertical-align: top;
//   font-size     : 1.25em;
//   color         : red;
// }


.img-wrapper{
  height: 100%;
  padding-left: 0;
  width:auto;
}

.mat-toolbar{
  height: 7vh;
  padding-left: 0;
  position: fixed;
  z-index: 2;
}

.fill-toolbar-space {
  height: 7vh;
}

div {
  overflow: inherit;
}

.mat-sidenav-container{
  //background-color: lightskyblue;
  min-height: 93vh !important;
}


.fill-space {
  flex: 1 1 auto;
}

.language {
  padding-right: 2vh;
}

.mat-sidenav-content{
    font-size: 200%;
    text-align: center;
}