// .toolbar-button {
//   margin: 10px;
//   float : left;
// }

// .fill-space {
//   flex: 1 1 auto;
// }

// .mat-toolbar {
//   margin-bottom: 1rem;
// }

// .mat-toolbar.mat-primary {
//   background-color: purple;
// }

// a.mat-button .mat-icon {
//   vertical-align: top;
//   font-size     : 1.25em;
//   color         : red;
// }

// .active {
//   background:rgb(158, 7, 179);
// }

// .mat-button .mat-icon {
//   vertical-align: top;
//   font-size     : 1.25em;
//   color         : red;
// }


.img-wrapper{
  height: 100%;
  padding-left: 0;
}

.mat-toolbar{
  height: 7vh;
  padding-left: 0;
}

// .position-fixed{
//   position: fixed
// }

div {
  overflow: inherit;
}

.mat-sidenav-container{
  //background-color: lightskyblue;
  min-height: 93vh !important;
}

a{
  text-decoration: none;
  font-size: 100%;
  white-space: normal;
}

.menu-item {
  border-radius: 0;
  height: 80%;
}

.menu-item:hover {
  border-bottom: 3px solid;
}

button{
  font-size: 110%;
  min-width: min-content;
}

.fill-space {
  flex: 1 1 auto;
}

.language {
  padding-right: 2vh;
}

.mat-sidenav-content{
    font-size: 200%;
    text-align: center;
}