.donation-content{
  width: 70%;
  margin: 3rem auto 5rem;
}
.donate-button {
    margin-left: 15px;
}
.headers{
  text-align: center;
}
.form-field {
  width: 200px;
  margin: auto;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: purple;
}

.payment-methods {
  width: 320px;
  height: 50px;
  margin: 2rem auto 0;
}

.mat-raised-button:disabled{
  background-color: rgba(89, 176, 161, 0.2);
  color: rgba(0, 0, 0, 0.4);
}
.checkout-button{
  margin-top: 0.7rem;
}
.form-content{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-input-element{
  margin-left: 5%;
  max-width: 95%;
  overflow: hidden;
}
@media (max-width: 736px) {
  .donation-content{
    width: 95%;
    margin: 3rem 0 5rem;
  }
  .payment-methods {
    width: 250px;
    height: 35px;
    margin: 2rem auto 0;
  }
}
