<div class="donation-content container">
  <div class="headers">
    <div *ngIf="projectId === 0; else projectDonation">
      <h2 class="organization-donation-header">{{'components.donation.donate-4-org'|translate}}</h2>
    </div>
    <ng-template #projectDonation>
      <h2 class="organization-donation-header">{{'components.donation.donate-4-project'|translate}}</h2>
    </ng-template>
    <h3 class="donation-header">{{'components.donation.message'|translate}}</h3>
  </div>
  <form [formGroup]="amountForm">
    <div class="form-content">
      <mat-form-field class="form-field">
        <input formControlName="donationAmount" matInput type="number" min="0" max="9999999999" placeholder="" autofocus>
        <mat-error *ngIf="amountForm.controls['donationAmount'].errors?.required">{{
          "common.validation.field-is-required" | translate
          }}</mat-error>
        <mat-error *ngIf="amountForm.controls['donationAmount'].errors?.min">{{
          "components.donation.invalid-sum" | translate
          }}</mat-error>
        <mat-error *ngIf="amountForm.controls['donationAmount'].errors?.max">{{
          "components.donation.invalid-sum" | translate
          }}</mat-error>
        <button mat-button matSuffix (click)="clear()" mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button class="checkout-button" mat-raised-button [disabled]="amountForm.invalid" color="accent"
              (click)="checkout()">{{'components.donation.title'|translate}}</button>
      <img src="assets/img/paymentmethods.png" alt="" class="payment-methods">
    </div>
  </form>

</div>
