<div *ngIf="projectId === 0; else projectDonation">
  <h2 class="organization-donation-header">Підтримати нашу організацію</h2>
  <h4>Зібрано: ₴ {{societyDontion?.donationSum | number : '1.2-2'}}</h4>
</div>
<ng-template #projectDonation>
  <h2>Підтримати цей проект</h2>
</ng-template>
<h3 class="donation-header">Введіть суму допомоги</h3>
<mat-form-field class="form-field">
  <input matInput type="text" placeholder="" [(ngModel)]="donationAmount" autofocus>
  <button mat-button *ngIf="donationAmount" matSuffix mat-icon-button aria-label="Clear" (click)="donationAmount = ''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<br>
<span class="donate-button"><button mat-button color="primary" (click)="checkout()">Допомогти</button></span>
<div><img src="assets/img/paymentmethods.png" alt="" class="main-icon"></div>