<div class="mat-elevation-z8" *ngIf="showTable">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{ "common.name" | translate }}</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>
        {{ "common.date-of-creation" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdDateUtc | customDate }}
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>
        {{ "common.description" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef>
        {{ "common.download" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <a href="{{ element.url }}" download=""
          ><i class="fa fa-cloud-download-alt"></i
        ></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    *ngIf="resourceCount > columnsPerPage"
    [length]="this.allResourcesCount"
    [pageSize]="this.columnsPerPage"
    [pageSizeOptions]="this.pageSizeOptions"
    showFirstLastButtons
    (page)="pageChanged($event)"
  >
  </mat-paginator>
</div>
