
.menu-item {
    border-radius: 0;
    height: 75%;
  }
  
.menu-item:hover {
    border-bottom: 3px solid;
    border-color: #4a1e5f;
}

a{
    text-decoration: none;
    font-size: 100%;
    white-space: normal;
    color: black;
}