<div>
  <mat-toolbar class="mat-elevation-z3">
    <div class="img-wrapper">
      <a mat-button class="img-wrapper" routerLink="/">
        <img src="assets/img/uttmm.png" alt="Home" class="img-wrapper">
      </a>

      <app-cms-pages-toolbar-item *ngIf="isAuthinticated"></app-cms-pages-toolbar-item>
      
      <a mat-button class="menu-item" routerLink="/projects">{{'components.projects.title'|translate}}</a>
      <a mat-button class="menu-item" routerLink="/donations">{{'components.donation.title'|translate}}</a>
      <a mat-button class="menu-item" *ngIf="isAuthinticated"
        routerLink="/resources">{{'components.resources.title'|translate}}</a>
      <a mat-button class="menu-item" *ngIf="isAuthinticated"
        routerLink="/participants">{{'components.participation.title'|translate}}
        <span>
          <mat-icon *ngIf="hasNotification">notifications</mat-icon>
        </span>
      </a>
      <a mat-button class="menu-item" *ngIf="isAuthinticated"
        routerLink="/projectRequest">{{'components.projects.new-projects'|translate}}</a>
      <a mat-button class="menu-item" *ngIf="isAuthinticated"
        routerLink="/projectTypes">{{'components.projectTypes.title'|translate}}</a>
    </div>

    <span class="fill-space"></span>

    <div>
      <span class="language">
        <app-language></app-language>
      </span>
      <button mat-flat-button color="primary" *ngIf="!isAuthinticated" class="toolbar-button"
      routerLink="/login">{{'components.account.signIn'|translate}}</button>
    </div>

    <span *ngIf="isAuthinticated">
      <app-profile-menu></app-profile-menu>
    </span>

  </mat-toolbar>
  <div class="fill-toolbar-space"></div>
</div>