.img-wrapper{
  padding-left: 0;
  padding-right: 15px;
}

img {
  height: 7vh;
}

.mat-toolbar{
  height: 7vh;
  padding-left: 0;
  position: fixed;
  z-index: 2;
  background-color: white;
}

.fill-toolbar-space {
  height: 7vh;
}

div {
  overflow: inherit;
}


.fill-space {
  flex: 1 1 auto;
}

.language {
  padding-right: 2vh;
}