<h2 mat-dialog-title>
  <span>{{this.service.form.controls['id'].value?"РЕДАГУВАННЯ ПРОЕКТУ":"СТВОРЕННЯ ПРОЕКТУ"}}</span>
</h2>
<form [formGroup]="this.service.form">
  <mat-dialog-content>
    <mat-form-field>
      <input type="hidden" formControlName="id">
      <input formControlName="name" autofocus required matInput placeholder="Назва проекту">
      <mat-error *ngIf="service.form.controls['name'].errors?.required">Це поле є обов'язковим</mat-error>
      <mat-error *ngIf="service.form.controls['name'].errors?.minlength">Мінімум 3 знаки</mat-error>
      <mat-error *ngIf="service.form.controls['name'].errors?.maxlength">Завелика назва</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="description"  required matInput placeholder="Опис">
      <mat-error *ngIf="service.form.controls['description'].errors?.required">Це поле є обов'язковим</mat-error>
      <mat-error *ngIf="service.form.controls['description'].errors?.minlength">Мінімум 5 знаків</mat-error>
      <mat-error *ngIf="service.form.controls['description'].errors?.maxlength">Завеликий опис</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="details" matInput placeholder="Деталі">
      <mat-error *ngIf="service.form.controls['details'].errors?.maxlength">Завеликий опис</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="projectStart" type=[valueAsDate] matInput [matDatepicker]="picker" required placeholder="Дата початку">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="service.form.controls['projectStart'].errors?.required">Це поле є обов'язковим</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="projectEnd" matInput [matDatepicker]="picker1" placeholder="Дата завершення">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 ></mat-datepicker>
      <mat-error *ngIf="service.form.controls['projectEnd'].hasError('matDatepickerFilter')">щось там</mat-error>
    </mat-form-field>
      <mat-form-field>
        <input formControlName="type" required matInput placeholder="Тип">
        <mat-error *ngIf="service.form.controls['type'].errors?.required">Це поле є обов'язковим</mat-error>
      </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="this.service.form.invalid"
      (click)='onSubmit()'>Підтвердити</button>
    <button mat-raised-button color="warn" type="reset" (click)="onClose()">Відмінити</button>
  </mat-dialog-actions>
</form>
