.create-form
{
    margin: auto;
    width: 50%;
    padding: 10px;

}
mat-form-field
{
    width: 100%;
}
h2
{
    margin-top: 50px;
    text-align: center;
}

mat-card
{

    margin: auto;
    margin-top: 50px;
    width: 50%;
    padding: 30px;
}
button
{
    margin-top: 20px;
}