<div class="row" style="height: 60px;">
  <div class="col">
    <button style="margin-top:10px;" mat-raised-button color="primary" class="create-button" (click)="onCreate()" *ngIf="isAuthenticated()">
     <mat-icon>add</mat-icon>{{ "components.projects.create" | translate }}
    </button> 
   </div>
  <app-project-filters class="col"
  (filtered)="onFilter($event)">
   </app-project-filters>
   
  </div>


<div *ngFor="let project of projects">
  <mat-card class="home-card mat-elevation-z5">
    <mat-card-content class="home-card-content" fxLayout="row" fxLayout.md="column" fxLayout.sm="column">
      <div class="image-container">
        <img *ngIf="project.imgUrl" [src]="[project.imgUrl]" class="project-image" />
        <img *ngIf="!project.imgUrl" src="../../assets/img/trashcat.jpg" class="project-image" />
      </div>

      <div class="main-container" fxLayout="column">
        <div class="content-container" fxLayout="row" fxFlex="85">
          <div class="text-conteiner" fxLayout="column" fxFlex="95" fxFlex.md="85" fxFlex.sm="80">
            <mat-card-title>
              <a class="detailes" [routerLink]="['/projects', project.id]">
                {{ project?.name }}</a>
            </mat-card-title>
            <div class="project-description" fxFlex="100">
              {{ project?.description.substring(0, 350) }}
            </div>
          </div>
          <div class="buttons-container" fxLayout="row" fxFlex>
            <button mat-icon-button (click)="onEdit(project)" *ngIf="isAdmin()">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="onDelete(project.id)" *ngIf="isAdmin()">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>

        <div class="actions-container" fxLayout="row">
          <div class="progress-bar-block" fxFlex="33">
            <div class="text-content">
              <span class="donation-sum color-accent">₴{{ project.donationsSum }} </span>
              <span class="rised-sum">
                {{ "components.projects.rised-of" | translate }}
                {{ project.donationTargetSum }}</span>
            </div>
            <section class="progress-bar-section">
              <mat-progress-bar color="accent" class="example-margin" mode="determinate"
                [value]="getProjectProgress(project) * 100">
              </mat-progress-bar>
            </section>
          </div>
          <div class="days-left-block" fxLayout="column" fxFlex="none">
            <span class="days">{{ project | daysLeft }}</span>
            <span *ngIf="(project | daysLeft) >= 0" class="texter">{{
              "components.projects.days-left" | translate
            }}</span>
          </div>
          <div class="donate-button" fxFlexAlign="end end" fxFlex="70" fxFlex.md="45" fxFlex.sm="40">
            <button class="donate" mat-raised-button color="accent" [routerLink]="['/donations', project.id]">
              {{ "components.projects.donate" | translate }}
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
