<mat-toolbar color="primary">
  <mat-toolbar-row  class="toolbar">
    <app-toolbar-item *ngFor="let toolbarItem of toolbarItems" [toolbarItem]="toolbarItem"></app-toolbar-item>
       <button mat-button class="toolbar-button" routerLinkActive="active" routerLink="/projects" >{{'components.projects.title'|translate}}</button>
       <button mat-button class="toolbar-button" routerLinkActive="active" routerLink="/donations" >Допомогти</button>
       <button mat-button class="toolbar-button-admin" *ngIf="isAuthinticated" routerLinkActive="active" routerLink="/resources" >{{'components.resources.title'|translate}}</button>
       <button mat-button class="toolbar-button-admin" *ngIf="isAuthinticated" routerLinkActive="active" routerLink="/participants" >{{'components.participants.title'|translate}}
        <span ><mat-icon *ngIf="hasNotification">notifications</mat-icon></span></button>
       <button mat-button class="toolbar-button-admin" *ngIf="isAuthinticated" routerLinkActive="active" routerLink="/projectRequest">Нові Проекти</button>
       <button mat-button class="toolbar-button-admin" *ngIf="isAuthinticated" routerLinkActive="active" routerLink="/projectTypes" >{{'components.projectTypes.title'|translate}}</button>
       <span class="fill-space"></span>
       <button mat-button *ngIf="!isAuthinticated" class="toolbar-button" (click)="onLogin()">{{'components.account.signIn.title'|translate}}</button>
       <div *ngIf="isAuthinticated"><app-profile-menu></app-profile-menu></div>

       <app-language></app-language>

  </mat-toolbar-row >
</mat-toolbar>