

snack-bar-container.success {
    background-color: #5cb85c;
    color : #fff;
  }

  snack-bar-container.warn {
    background-color: #ce3232;
    color : #fff;
  }


  snack-bar-container.notification simple-snack-bar{
    font-size: 15px !important;
    justify-content: center;
  }
  
  .auth-container {
    display: flex;
    flex-direction: column;
  }


snack-bar-container.success {
    background-color: #5cb85c;
    color : #fff;
  }

  snack-bar-container.warn {
    background-color: #ce3232;
    color : #fff;
  }


  snack-bar-container.notification simple-snack-bar{
    font-size: 15px !important;
    justify-content: center;
  }
  
  .auth-container {
    display: flex;
    flex-direction: column;
  }
