mat-form-field{
    width: 400px;
}
mat-card-title{
    text-align: center;
}

form {
    min-width: 150px;
    width: 100%;
  }

.editorContainer {
  overflow: auto;
  margin-top: 20px;
}

.button-container {
  margin-top: 7px;
}

button {
  margin-right: 15px;
  width: 120px;
}

.formContainer {
  padding: 7px 20px 10px 20px;
}
