mat-form-field{
    width: 400px;
}
mat-card-title{
    text-align: center;
}

form {
    margin: 0 auto;
    min-width: 150px;
    max-width: 700px;
    width: 100%;
  }

input {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
}

.content {
  min-height: 30px;
  min-width: 30px;
  resize: both;
  overflow: auto;
  max-height: fit-content;
  max-width: fit-content;
}

.button-container {
  margin-top: 30px;
}

button {
  margin-right: 15px;
  width: 120px;
}