.comments-count {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 36px;
}

app-comment-create {
    margin-bottom: 36px;
}

app-comment {
  margin-bottom: 20px;
}

mat-spinner {
  height: 20px;
  margin: auto;
}