.comments-count {
    font-size: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    text-align: center;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .comments-count::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid ;
    margin-left: 4px;
  }
  
  .comments-count::before{
    max-width: 4%;
    content: '';
    flex: 1;
    border-bottom: 1px solid ;
    margin-right: 4px;
  }

app-comment-create {
    margin-bottom: 30px;
}

app-comment {
  margin-bottom: 20px;
}

mat-spinner {
  height: 20px;
  margin: auto;
}