.home-card {
    padding: 0;
    margin: 40px 0;
}

@media screen and (max-width: 1280px) {

    .image-container{
        padding-top: 5px;
        display: flex;
        justify-content: center;
    }
    img.project-image{
        margin: 0;
        width: 350px;
        height: 350px;
      }
      .main-container{
        margin-left: 40px;
    }
    .actions-conteiner {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.news-image {
    margin: 0;
    margin: 10px;
    margin-right: 20px;
    width: 200px;
    height: 200px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

.news-description{
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    font-size: 20px;
    line-height: 28px;
    width: 100%;
    margin-bottom: 5px;
    text-align: justify;
}

.mat-card-title{
    font-size: 32px;
    margin-bottom: 4px;
   
}

.main-container {
    width: 100%;
    margin-top: 10px;
}

.card-footer{
    width: 100%;
    margin-left: 0.5px; 
    justify-content: flex-end;  
 }

.card-footer p{
    margin: 0;
    margin-left: 10px;
}

.home-card-content{
    margin-bottom: 0px;
}

.title-link{
    text-decoration: none;
    color: #000;
}