<mat-card class="home-card mat-elevation-z5">
    <mat-card-content class="home-card-content" fxLayout="row" fxLayout.md="column" fxLayout.sm="column">
        <div class="image-container">
            <img class="news-image"
                src="http://r.ddmcdn.com/s_f/o_1/cx_462/cy_245/cw_1349/ch_1349/w_720/APL/uploads/2015/06/caturday-shutterstock_149320799.jpg"
                alt="" />
        </div>

        <div class="main-container" fxLayout="column">
            <div class="content-container" fxLayout="row" fxFlex="85">
                <div class="text-container" fxLayout="column" fxFlex="95" fxFlex.md="85" fxFlex.sm="80">
                    <mat-card-title>
                        Lorem ipsum dolor sit amet.                    
                    </mat-card-title>
                    <div class="news-description" fxFlex="100">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nisi iusto repellat nemo soluta autem ipsum repudiandae doloremque quod veritatis porro expedita, quisquam unde? Fugit officia ab ipsa enim. Nobis, mollitia aliquam. Dolorum architecto quae impedit excepturi molestiae aliquid, deleniti ut animi officia, distinctio odit incidunt non repudiandae harum quos.                </div>
                    </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>